#container{
   background-color: rgb(204, 204, 204);
	width: 800px;
	height: 1000px;
	padding: 10px;
	margin: 10px;
}

#box1{
	width: 620px;
	height: 130px;
	border: 2px solid black;
	margin-left: 40px;
	text-align: left;
	padding: 10px 50px;
	background-color: white;
	border-radius: 10px;
	list-style-type: none;
}
#sbox{
	width: 620px;
	height: 650px;
	border: 2px solid black;
	margin-left: 85px;
	border-radius: 10px;
	background-color: white;
}

#player_one{
	margin: 20px;
	width: 580px;
}

h1,h2{
	text-align: center;
}
